
*{

    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

    html{
        scroll-behavior: smooth;
        
    }


.navber{

    width: 60px;
    height: 60px;
    position: fixed;
    bottom:40px;
    right: 40px;
    /* border: 2px solid red; */
    /* overflow: hidden; */
    z-index: 100000000000000;
    user-select: none;
}

.repDiv{
    /* top: ;
    right: 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    position: absolute;
    /* border: 2px solid black; */
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: gold; */

    border-radius: 50%;
    z-index: 10;
    user-select: none;
}
.repDiv i{
    font-size: 25px;
    transition: all 2s ease-out;

}

.navbox{
    position: absolute;
    transition: all  1s ease;
    /* bottom: -4px;
    right: 56px; */
    /* user-select: none; */
}


.navbox a{

    /* user-select: none; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    /* background-color: red; */
    color: black;
    transition: all  1s ease;
    transition-delay: calc(.08s * var(--i));
    bottom:-60px;
    font-size: 0;
}


.navbox a li i{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.navbox.active a{
    bottom:calc(90px * var(--i));
    font-size: large;
    
}



.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    /* justify-content: space-evenly; */
    padding: 20px;
    background-image: url(/pexels-lukas-574070.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* background-size: cover 100%; */
    background-repeat: no-repeat;
}

.home img{
    /* display: none; */
    height: 40vh;
    width: 40vh;
    margin-bottom: 40px;
    margin-top: 32px;


}

.home p{
    margin-top: 12px;
    text-align: justify;

}

.homeButton {
    display: inline-block;
    margin-top: 20px;   
    /* color: white; */
    border: 2px solid black;
    /* font-size: larger; */
    border-radius: 9px;
    padding: 8px;
    position: relative;
    overflow: hidden;
    width: 115px;
    height: 35px;
    
}


.homeButton::after {

    position: absolute;
    content: "Contact me";
    width: 81%;
    height: 49%;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */

}



.homeButton a {

    text-decoration: none;
    /* color: white; */
    color: black;

}



.education{

    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
    padding: 12px;
    font-size: 13px;

}



.education h1{
    margin:40px 0px ;
    text-decoration: underline;
    font-size: 2rem;

}

.education table,
th,
td {
    border: 1px solid black;
    height: 75px;
    text-align: center;
}

.education td a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.skills {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* background-image: url(/pexels-soumil-kumar-735911.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color:  rgb(226, 226, 226);

    /* color: white; */
    color: black;
    padding-top: 5px;
    /* font-size: 23px; */

}

.skills h1 {

    margin: 20px 0px;
    text-decoration: underline;
    font-size: 2rem;
    width: 90%;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
    text-align: center;
    
}

.skill i {
    font-size: 5rem;
    margin: 30px;
    
}

.skill {
    border-bottom: 1px solid black;
    text-align: center;
    margin: 25px 0px;
    padding: 12px;

}



.work {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color:  rgb(226, 226, 226);

}


.work h1{
    /* margin: 30px 0px; */
    text-decoration: underline;
    letter-spacing: 4px;
    font-size: 2rem;


}

.workbox {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 100vw;
    overflow-x: scroll;

}


.works {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    flex-direction: column;
    min-width: 90vw;
    /* max-width: 375px; */
    min-height: 450px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 9px;
    padding: 20px;
    margin: 12px;
    /* background-color: blanchedalmond; */


}

.works h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;

}

.works i {
    font-size: 5rem;
    margin-bottom: 30px;
    
}

.works p a {
    color: black;
    text-decoration: underline;

}

.works p {

    text-align: justify;

}


.sMedia {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-transform: uppercase;
    flex-wrap: wrap;
    background-color:  rgb(226, 226, 226);

}

.sMedia h1 {
    text-decoration: underline;

}


.media {

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    flex-direction: column;
}

.facebook a,
.instagram a {
    color: black;
    text-decoration: none;
    transition: all .5s ease;


}


.facebook,
.instagram {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 9px;
    min-width: 300px;
    min-height: 300px;
    margin: 12px;

}

.sMedia i {
    font-size: 4rem;
    margin: 22px;

}